// theme colors
$primary: #181818 !default;
$secondary: #ffffff !default;
$detail: #02e4c0 !default;
$info: #4452fe !default;

// color palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "detail": $detail,
  "info": $info,
  "gray": #565656,
  "gru": #1e1e1e,
) !default;

//Margin & Padding
$base-margin: 0.5rem;
$base-padding: 0.5rem;

//Border
$base-border: 1px;

// font size 16 20 32 52 80
$base-font-size: 2rem !default; // 32px
$sm-font-size: $base-font-size * 0.5 !default; // 16px
$md-font-size: $base-font-size * 0.625 !default; // 20px
$lg-font-size: $base-font-size * 1.625 !default; // 52px
$xl-font-size: $base-font-size * 2.5 !default; // 80px

// line height 62 58 30 24 16
$base-line-height: 1rem !default; //16px
$sm-line-height: $base-line-height * 1.5 !default; //24px
$md-line-height: $base-line-height * 1.875 !default; //30px
$lg-line-height: $base-line-height * 3.625 !default; //58px
$xl-line-height: $base-line-height * 3.875 !default; //62px
