@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Reset Styles */
* {
  color: inherit;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Poppins;
  -webkit-tap-highlight-color: transparent;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}

img {
  max-width: 100%;
  height: auto;
}

.container, .container-sm, .container-md, .container-lg, .container-xl {
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 425px) {
  .container {
    max-width: 400px;
  }
}

@media (min-width: 768px) {
  .container,
  .container-sm {
    max-width: 750px;
  }
}

@media (min-width: 1024px) {
  .container,
  .container-sm,
  .container-md {
    max-width: 980px;
  }
}

@media (min-width: 1440px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 1380px;
  }
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media (min-width: 425px) {
  .col-sm-1 {
    grid-column: span 1;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
  .col-sm-5 {
    grid-column: span 5;
  }
  .col-sm-6 {
    grid-column: span 6;
  }
  .col-sm-7 {
    grid-column: span 7;
  }
  .col-sm-8 {
    grid-column: span 8;
  }
  .col-sm-9 {
    grid-column: span 9;
  }
  .col-sm-10 {
    grid-column: span 10;
  }
  .col-sm-11 {
    grid-column: span 11;
  }
  .col-sm-12 {
    grid-column: span 12;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
  .col-md-9 {
    grid-column: span 9;
  }
  .col-md-10 {
    grid-column: span 10;
  }
  .col-md-11 {
    grid-column: span 11;
  }
  .col-md-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1024px) {
  .col-lg-1 {
    grid-column: span 1;
  }
  .col-lg-2 {
    grid-column: span 2;
  }
  .col-lg-3 {
    grid-column: span 3;
  }
  .col-lg-4 {
    grid-column: span 4;
  }
  .col-lg-5 {
    grid-column: span 5;
  }
  .col-lg-6 {
    grid-column: span 6;
  }
  .col-lg-7 {
    grid-column: span 7;
  }
  .col-lg-8 {
    grid-column: span 8;
  }
  .col-lg-9 {
    grid-column: span 9;
  }
  .col-lg-10 {
    grid-column: span 10;
  }
  .col-lg-11 {
    grid-column: span 11;
  }
  .col-lg-12 {
    grid-column: span 12;
  }
}

@media (min-width: 1440px) {
  .col-xl-1 {
    grid-column: span 1;
  }
  .col-xl-2 {
    grid-column: span 2;
  }
  .col-xl-3 {
    grid-column: span 3;
  }
  .col-xl-4 {
    grid-column: span 4;
  }
  .col-xl-5 {
    grid-column: span 5;
  }
  .col-xl-6 {
    grid-column: span 6;
  }
  .col-xl-7 {
    grid-column: span 7;
  }
  .col-xl-8 {
    grid-column: span 8;
  }
  .col-xl-9 {
    grid-column: span 9;
  }
  .col-xl-10 {
    grid-column: span 10;
  }
  .col-xl-11 {
    grid-column: span 11;
  }
  .col-xl-12 {
    grid-column: span 12;
  }
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.text-primary {
  color: #181818;
}

.bg-primary {
  background-color: #181818;
}

.border-primary {
  border-color: #181818;
}

.text-primary-hover:hover {
  color: #181818;
}

.text-secondary {
  color: #ffffff;
}

.bg-secondary {
  background-color: #ffffff;
}

.border-secondary {
  border-color: #ffffff;
}

.text-secondary-hover:hover {
  color: #ffffff;
}

.text-detail {
  color: #02e4c0;
}

.bg-detail {
  background-color: #02e4c0;
}

.border-detail {
  border-color: #02e4c0;
}

.text-detail-hover:hover {
  color: #02e4c0;
}

.text-info {
  color: #4452fe;
}

.bg-info {
  background-color: #4452fe;
}

.border-info {
  border-color: #4452fe;
}

.text-info-hover:hover {
  color: #4452fe;
}

.text-gray {
  color: #565656;
}

.bg-gray {
  background-color: #565656;
}

.border-gray {
  border-color: #565656;
}

.text-gray-hover:hover {
  color: #565656;
}

.text-gray-light-1 {
  color: #787878;
}

.bg-gray-light-1 {
  color: #787878;
}

.border-gray-light-1 {
  color: #787878;
}

.text-gray-light-2 {
  color: #9a9a9a;
}

.bg-gray-light-2 {
  color: #9a9a9a;
}

.border-gray-light-2 {
  color: #9a9a9a;
}

.text-gray-light-3 {
  color: #bbbbbb;
}

.bg-gray-light-3 {
  color: #bbbbbb;
}

.border-gray-light-3 {
  color: #bbbbbb;
}

.text-gray-light-4 {
  color: #dddddd;
}

.bg-gray-light-4 {
  color: #dddddd;
}

.border-gray-light-4 {
  color: #dddddd;
}

.text-gray-dark-1 {
  color: #454545;
}

.bg-gray-dark-1 {
  background-color: #454545;
}

.border-gray-dark-1 {
  border-color: #454545;
}

.text-gray-dark-2 {
  color: #343434;
}

.bg-gray-dark-2 {
  background-color: #343434;
}

.border-gray-dark-2 {
  border-color: #343434;
}

.text-gray-dark-3 {
  color: #222222;
}

.bg-gray-dark-3 {
  background-color: #222222;
}

.border-gray-dark-3 {
  border-color: #222222;
}

.text-gray-dark-4 {
  color: #111111;
}

.bg-gray-dark-4 {
  background-color: #111111;
}

.border-gray-dark-4 {
  border-color: #111111;
}

.text-gru {
  color: #1e1e1e;
}

.bg-gru {
  background-color: #1e1e1e;
}

.border-gru {
  border-color: #1e1e1e;
}

.text-gru-hover:hover {
  color: #1e1e1e;
}

.font-sm {
  font-size: 1rem;
}

.font-md {
  font-size: 1.25rem;
}

.font-lg {
  font-size: 3.25rem;
}

.font-xl {
  font-size: 5rem;
}

.font-base {
  font-size: 2rem;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.direction-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rounded-5 {
  border-radius: 5px;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-15 {
  border-radius: 15px;
}

.rounded-20 {
  border-radius: 20px;
}

.rounded-full {
  border-radius: 50%;
}

.justify-flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.justify-flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.width-5 {
  width: 5%;
}

.width-10 {
  width: 10%;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-35 {
  width: 35%;
}

.width-40 {
  width: 40%;
}

.width-45 {
  width: 45%;
}

.width-50 {
  width: 50%;
}

.width-55 {
  width: 55%;
}

.width-60 {
  width: 60%;
}

.width-65 {
  width: 65%;
}

.width-70 {
  width: 70%;
}

.width-75 {
  width: 75%;
}

.width-80 {
  width: 80%;
}

.width-85 {
  width: 85%;
}

.width-90 {
  width: 90%;
}

.width-95 {
  width: 95%;
}

.width-100 {
  width: 100%;
}

.min-width-5 {
  min-width: 5%;
}

.min-width-10 {
  min-width: 10%;
}

.min-width-15 {
  min-width: 15%;
}

.min-width-20 {
  min-width: 20%;
}

.min-width-25 {
  min-width: 25%;
}

.min-width-30 {
  min-width: 30%;
}

.min-width-35 {
  min-width: 35%;
}

.min-width-40 {
  min-width: 40%;
}

.min-width-45 {
  min-width: 45%;
}

.min-width-50 {
  min-width: 50%;
}

.min-width-55 {
  min-width: 55%;
}

.min-width-60 {
  min-width: 60%;
}

.min-width-65 {
  min-width: 65%;
}

.min-width-70 {
  min-width: 70%;
}

.min-width-75 {
  min-width: 75%;
}

.min-width-80 {
  min-width: 80%;
}

.min-width-85 {
  min-width: 85%;
}

.min-width-90 {
  min-width: 90%;
}

.min-width-95 {
  min-width: 95%;
}

.min-width-100 {
  min-width: 100%;
}

.max-width-5 {
  max-width: 5%;
}

.max-width-10 {
  max-width: 10%;
}

.max-width-15 {
  max-width: 15%;
}

.max-width-20 {
  max-width: 20%;
}

.max-width-25 {
  max-width: 25%;
}

.max-width-30 {
  max-width: 30%;
}

.max-width-35 {
  max-width: 35%;
}

.max-width-40 {
  max-width: 40%;
}

.max-width-45 {
  max-width: 45%;
}

.max-width-50 {
  max-width: 50%;
}

.max-width-55 {
  max-width: 55%;
}

.max-width-60 {
  max-width: 60%;
}

.max-width-65 {
  max-width: 65%;
}

.max-width-70 {
  max-width: 70%;
}

.max-width-75 {
  max-width: 75%;
}

.max-width-80 {
  max-width: 80%;
}

.max-width-85 {
  max-width: 85%;
}

.max-width-90 {
  max-width: 90%;
}

.max-width-95 {
  max-width: 95%;
}

.max-width-100 {
  max-width: 100%;
}

@media (min-width: 425px) {
  .width-sm-5 {
    width: 5%;
  }
  .width-sm-10 {
    width: 10%;
  }
  .width-sm-15 {
    width: 15%;
  }
  .width-sm-20 {
    width: 20%;
  }
  .width-sm-25 {
    width: 25%;
  }
  .width-sm-30 {
    width: 30%;
  }
  .width-sm-35 {
    width: 35%;
  }
  .width-sm-40 {
    width: 40%;
  }
  .width-sm-45 {
    width: 45%;
  }
  .width-sm-50 {
    width: 50%;
  }
  .width-sm-55 {
    width: 55%;
  }
  .width-sm-60 {
    width: 60%;
  }
  .width-sm-65 {
    width: 65%;
  }
  .width-sm-70 {
    width: 70%;
  }
  .width-sm-75 {
    width: 75%;
  }
  .width-sm-80 {
    width: 80%;
  }
  .width-sm-85 {
    width: 85%;
  }
  .width-sm-90 {
    width: 90%;
  }
  .width-sm-95 {
    width: 95%;
  }
  .width-sm-100 {
    width: 100%;
  }
  .min-width-sm-5 {
    min-width: 5%;
  }
  .min-width-sm-10 {
    min-width: 10%;
  }
  .min-width-sm-15 {
    min-width: 15%;
  }
  .min-width-sm-20 {
    min-width: 20%;
  }
  .min-width-sm-25 {
    min-width: 25%;
  }
  .min-width-sm-30 {
    min-width: 30%;
  }
  .min-width-sm-35 {
    min-width: 35%;
  }
  .min-width-sm-40 {
    min-width: 40%;
  }
  .min-width-sm-45 {
    min-width: 45%;
  }
  .min-width-sm-50 {
    min-width: 50%;
  }
  .min-width-sm-55 {
    min-width: 55%;
  }
  .min-width-sm-60 {
    min-width: 60%;
  }
  .min-width-sm-65 {
    min-width: 65%;
  }
  .min-width-sm-70 {
    min-width: 70%;
  }
  .min-width-sm-75 {
    min-width: 75%;
  }
  .min-width-sm-80 {
    min-width: 80%;
  }
  .min-width-sm-85 {
    min-width: 85%;
  }
  .min-width-sm-90 {
    min-width: 90%;
  }
  .min-width-sm-95 {
    min-width: 95%;
  }
  .min-width-sm-100 {
    min-width: 100%;
  }
  .max-width-sm-5 {
    max-width: 5%;
  }
  .max-width-sm-10 {
    max-width: 10%;
  }
  .max-width-sm-15 {
    max-width: 15%;
  }
  .max-width-sm-20 {
    max-width: 20%;
  }
  .max-width-sm-25 {
    max-width: 25%;
  }
  .max-width-sm-30 {
    max-width: 30%;
  }
  .max-width-sm-35 {
    max-width: 35%;
  }
  .max-width-sm-40 {
    max-width: 40%;
  }
  .max-width-sm-45 {
    max-width: 45%;
  }
  .max-width-sm-50 {
    max-width: 50%;
  }
  .max-width-sm-55 {
    max-width: 55%;
  }
  .max-width-sm-60 {
    max-width: 60%;
  }
  .max-width-sm-65 {
    max-width: 65%;
  }
  .max-width-sm-70 {
    max-width: 70%;
  }
  .max-width-sm-75 {
    max-width: 75%;
  }
  .max-width-sm-80 {
    max-width: 80%;
  }
  .max-width-sm-85 {
    max-width: 85%;
  }
  .max-width-sm-90 {
    max-width: 90%;
  }
  .max-width-sm-95 {
    max-width: 95%;
  }
  .max-width-sm-100 {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .width-md-5 {
    width: 5%;
  }
  .width-md-10 {
    width: 10%;
  }
  .width-md-15 {
    width: 15%;
  }
  .width-md-20 {
    width: 20%;
  }
  .width-md-25 {
    width: 25%;
  }
  .width-md-30 {
    width: 30%;
  }
  .width-md-35 {
    width: 35%;
  }
  .width-md-40 {
    width: 40%;
  }
  .width-md-45 {
    width: 45%;
  }
  .width-md-50 {
    width: 50%;
  }
  .width-md-55 {
    width: 55%;
  }
  .width-md-60 {
    width: 60%;
  }
  .width-md-65 {
    width: 65%;
  }
  .width-md-70 {
    width: 70%;
  }
  .width-md-75 {
    width: 75%;
  }
  .width-md-80 {
    width: 80%;
  }
  .width-md-85 {
    width: 85%;
  }
  .width-md-90 {
    width: 90%;
  }
  .width-md-95 {
    width: 95%;
  }
  .width-md-100 {
    width: 100%;
  }
  .min-width-md-5 {
    min-width: 5%;
  }
  .min-width-md-10 {
    min-width: 10%;
  }
  .min-width-md-15 {
    min-width: 15%;
  }
  .min-width-md-20 {
    min-width: 20%;
  }
  .min-width-md-25 {
    min-width: 25%;
  }
  .min-width-md-30 {
    min-width: 30%;
  }
  .min-width-md-35 {
    min-width: 35%;
  }
  .min-width-md-40 {
    min-width: 40%;
  }
  .min-width-md-45 {
    min-width: 45%;
  }
  .min-width-md-50 {
    min-width: 50%;
  }
  .min-width-md-55 {
    min-width: 55%;
  }
  .min-width-md-60 {
    min-width: 60%;
  }
  .min-width-md-65 {
    min-width: 65%;
  }
  .min-width-md-70 {
    min-width: 70%;
  }
  .min-width-md-75 {
    min-width: 75%;
  }
  .min-width-md-80 {
    min-width: 80%;
  }
  .min-width-md-85 {
    min-width: 85%;
  }
  .min-width-md-90 {
    min-width: 90%;
  }
  .min-width-md-95 {
    min-width: 95%;
  }
  .min-width-md-100 {
    min-width: 100%;
  }
  .max-width-md-5 {
    max-width: 5%;
  }
  .max-width-md-10 {
    max-width: 10%;
  }
  .max-width-md-15 {
    max-width: 15%;
  }
  .max-width-md-20 {
    max-width: 20%;
  }
  .max-width-md-25 {
    max-width: 25%;
  }
  .max-width-md-30 {
    max-width: 30%;
  }
  .max-width-md-35 {
    max-width: 35%;
  }
  .max-width-md-40 {
    max-width: 40%;
  }
  .max-width-md-45 {
    max-width: 45%;
  }
  .max-width-md-50 {
    max-width: 50%;
  }
  .max-width-md-55 {
    max-width: 55%;
  }
  .max-width-md-60 {
    max-width: 60%;
  }
  .max-width-md-65 {
    max-width: 65%;
  }
  .max-width-md-70 {
    max-width: 70%;
  }
  .max-width-md-75 {
    max-width: 75%;
  }
  .max-width-md-80 {
    max-width: 80%;
  }
  .max-width-md-85 {
    max-width: 85%;
  }
  .max-width-md-90 {
    max-width: 90%;
  }
  .max-width-md-95 {
    max-width: 95%;
  }
  .max-width-md-100 {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .width-lg-5 {
    width: 5%;
  }
  .width-lg-10 {
    width: 10%;
  }
  .width-lg-15 {
    width: 15%;
  }
  .width-lg-20 {
    width: 20%;
  }
  .width-lg-25 {
    width: 25%;
  }
  .width-lg-30 {
    width: 30%;
  }
  .width-lg-35 {
    width: 35%;
  }
  .width-lg-40 {
    width: 40%;
  }
  .width-lg-45 {
    width: 45%;
  }
  .width-lg-50 {
    width: 50%;
  }
  .width-lg-55 {
    width: 55%;
  }
  .width-lg-60 {
    width: 60%;
  }
  .width-lg-65 {
    width: 65%;
  }
  .width-lg-70 {
    width: 70%;
  }
  .width-lg-75 {
    width: 75%;
  }
  .width-lg-80 {
    width: 80%;
  }
  .width-lg-85 {
    width: 85%;
  }
  .width-lg-90 {
    width: 90%;
  }
  .width-lg-95 {
    width: 95%;
  }
  .width-lg-100 {
    width: 100%;
  }
  .min-width-lg-5 {
    min-width: 5%;
  }
  .min-width-lg-10 {
    min-width: 10%;
  }
  .min-width-lg-15 {
    min-width: 15%;
  }
  .min-width-lg-20 {
    min-width: 20%;
  }
  .min-width-lg-25 {
    min-width: 25%;
  }
  .min-width-lg-30 {
    min-width: 30%;
  }
  .min-width-lg-35 {
    min-width: 35%;
  }
  .min-width-lg-40 {
    min-width: 40%;
  }
  .min-width-lg-45 {
    min-width: 45%;
  }
  .min-width-lg-50 {
    min-width: 50%;
  }
  .min-width-lg-55 {
    min-width: 55%;
  }
  .min-width-lg-60 {
    min-width: 60%;
  }
  .min-width-lg-65 {
    min-width: 65%;
  }
  .min-width-lg-70 {
    min-width: 70%;
  }
  .min-width-lg-75 {
    min-width: 75%;
  }
  .min-width-lg-80 {
    min-width: 80%;
  }
  .min-width-lg-85 {
    min-width: 85%;
  }
  .min-width-lg-90 {
    min-width: 90%;
  }
  .min-width-lg-95 {
    min-width: 95%;
  }
  .min-width-lg-100 {
    min-width: 100%;
  }
  .max-width-lg-5 {
    max-width: 5%;
  }
  .max-width-lg-10 {
    max-width: 10%;
  }
  .max-width-lg-15 {
    max-width: 15%;
  }
  .max-width-lg-20 {
    max-width: 20%;
  }
  .max-width-lg-25 {
    max-width: 25%;
  }
  .max-width-lg-30 {
    max-width: 30%;
  }
  .max-width-lg-35 {
    max-width: 35%;
  }
  .max-width-lg-40 {
    max-width: 40%;
  }
  .max-width-lg-45 {
    max-width: 45%;
  }
  .max-width-lg-50 {
    max-width: 50%;
  }
  .max-width-lg-55 {
    max-width: 55%;
  }
  .max-width-lg-60 {
    max-width: 60%;
  }
  .max-width-lg-65 {
    max-width: 65%;
  }
  .max-width-lg-70 {
    max-width: 70%;
  }
  .max-width-lg-75 {
    max-width: 75%;
  }
  .max-width-lg-80 {
    max-width: 80%;
  }
  .max-width-lg-85 {
    max-width: 85%;
  }
  .max-width-lg-90 {
    max-width: 90%;
  }
  .max-width-lg-95 {
    max-width: 95%;
  }
  .max-width-lg-100 {
    max-width: 100%;
  }
}

@media (min-width: 1440px) {
  .width-xl-5 {
    width: 5%;
  }
  .width-xl-10 {
    width: 10%;
  }
  .width-xl-15 {
    width: 15%;
  }
  .width-xl-20 {
    width: 20%;
  }
  .width-xl-25 {
    width: 25%;
  }
  .width-xl-30 {
    width: 30%;
  }
  .width-xl-35 {
    width: 35%;
  }
  .width-xl-40 {
    width: 40%;
  }
  .width-xl-45 {
    width: 45%;
  }
  .width-xl-50 {
    width: 50%;
  }
  .width-xl-55 {
    width: 55%;
  }
  .width-xl-60 {
    width: 60%;
  }
  .width-xl-65 {
    width: 65%;
  }
  .width-xl-70 {
    width: 70%;
  }
  .width-xl-75 {
    width: 75%;
  }
  .width-xl-80 {
    width: 80%;
  }
  .width-xl-85 {
    width: 85%;
  }
  .width-xl-90 {
    width: 90%;
  }
  .width-xl-95 {
    width: 95%;
  }
  .width-xl-100 {
    width: 100%;
  }
  .min-width-xl-5 {
    min-width: 5%;
  }
  .min-width-xl-10 {
    min-width: 10%;
  }
  .min-width-xl-15 {
    min-width: 15%;
  }
  .min-width-xl-20 {
    min-width: 20%;
  }
  .min-width-xl-25 {
    min-width: 25%;
  }
  .min-width-xl-30 {
    min-width: 30%;
  }
  .min-width-xl-35 {
    min-width: 35%;
  }
  .min-width-xl-40 {
    min-width: 40%;
  }
  .min-width-xl-45 {
    min-width: 45%;
  }
  .min-width-xl-50 {
    min-width: 50%;
  }
  .min-width-xl-55 {
    min-width: 55%;
  }
  .min-width-xl-60 {
    min-width: 60%;
  }
  .min-width-xl-65 {
    min-width: 65%;
  }
  .min-width-xl-70 {
    min-width: 70%;
  }
  .min-width-xl-75 {
    min-width: 75%;
  }
  .min-width-xl-80 {
    min-width: 80%;
  }
  .min-width-xl-85 {
    min-width: 85%;
  }
  .min-width-xl-90 {
    min-width: 90%;
  }
  .min-width-xl-95 {
    min-width: 95%;
  }
  .min-width-xl-100 {
    min-width: 100%;
  }
  .max-width-xl-5 {
    max-width: 5%;
  }
  .max-width-xl-10 {
    max-width: 10%;
  }
  .max-width-xl-15 {
    max-width: 15%;
  }
  .max-width-xl-20 {
    max-width: 20%;
  }
  .max-width-xl-25 {
    max-width: 25%;
  }
  .max-width-xl-30 {
    max-width: 30%;
  }
  .max-width-xl-35 {
    max-width: 35%;
  }
  .max-width-xl-40 {
    max-width: 40%;
  }
  .max-width-xl-45 {
    max-width: 45%;
  }
  .max-width-xl-50 {
    max-width: 50%;
  }
  .max-width-xl-55 {
    max-width: 55%;
  }
  .max-width-xl-60 {
    max-width: 60%;
  }
  .max-width-xl-65 {
    max-width: 65%;
  }
  .max-width-xl-70 {
    max-width: 70%;
  }
  .max-width-xl-75 {
    max-width: 75%;
  }
  .max-width-xl-80 {
    max-width: 80%;
  }
  .max-width-xl-85 {
    max-width: 85%;
  }
  .max-width-xl-90 {
    max-width: 90%;
  }
  .max-width-xl-95 {
    max-width: 95%;
  }
  .max-width-xl-100 {
    max-width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */